<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <a class="navbar-brand" href="#">NavBar</a>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'lab-4:index' %}""><img src="https://image.flaticon.com/icons/svg/25/25694.svg" alt="Home" style="width:20px;height:20px;"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <a class="navbar-brand" href="{% url 'lab-4:index' %}#form"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/62816-200.png" alt="Form" style="width:20px;height:20px;"></a>
        <a class="navbar-brand" href="{% url 'lab-4:result_table' %}"><img src="https://maxcdn.icons8.com/Share/icon/p1em/Messaging//filled_message1600.png" alt="Message Table" style="width:20px;height:20px;"></a>
        <a class="navbar-brand" href="/lab-2/"><img src="http://freeflaticons.com/wp-content/uploads/2014/09/notepad-copy-1411384110kn84g.png" alt="Home" style="width:20px;height:20px;"></a>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
