.poster{
	display:inline-block;
}
.movie-description{
	background-color: white;
	padding: 10px;
	width:70%;
    float: left;
    display:inline-block;
}

.rating{
	text-align: center;
}

.director{
	color:grey;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
}

.sub-text{
}

.cast-title{
}
.cast{
	background-color: white;
	padding-left: 20px;
}
#title{

}