{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    

    <title> 
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>

<style>
    h1{
        color: white;
        font-family: sans-serif
        text-align: center;
    }
    h2{
        color: black;
        background-color: white;
        font-family: Trebuchet MS;
        text-transform: uppercase;
        font-size: 20px;
        padding: 5px 10px 5px 10px;
        width: 550px;
    }
    h3{
        color: black;
        font-family: sans-serif;
        font-size: 15px;
        width: 550px;
        text-align: justify;
    }
    td{
        color: black;
        text-align: center;
        padding: 5px 10px 5px 10px;
    }
    th{
        color: #f53240;
        background-color: white;
        text-align: center;
    }
    tr{
        background-color: #f53240;
    }
    li{
        color: black;
        width: 550px;
        text-align: left;
    }
    p{
        color: white;
        text-align: center;
    }
    

</style>

<body style="background: url(https://i.imgur.com/mvGT6cE.png) no-repeat;background-color: #00ebdc; background-size: 100%;background-attachment:fixed; background-size: cover;">
    <header>
        {% include "lab_4/partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
                <body>
                    <h1>Hello what does this do</h1>
                </body>
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
