@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

.navbar-custom {
    background-color: #000000;
}

.footer {
  font-size: 12px;
  text-align: center;
  color: white;
}

.center{
  align-self: center;
}

.profile{
  text-align: center;
  color:white;
}

.cover {
   background: -webkit-linear-gradient(left, 
                rgba(0,0,0,0.65) 0%, 
                rgba(0,0,0,0) 20%,
                rgba(0,0,0,0) 80%,
                rgba(0,0,0,0.65) 100%
    );
}
.picture{
    margin-top: -100px;
    width: 200px;
    border-radius: 50%;
}


.feed{
  margin:0 auto;
  text-align: center;
  width: 750px;
  height: auto;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 15px;
  text-align: center;
  background-color: white;
  border: 5px transparent;
}

.feed h1{
    padding: auto;
    font-size: 15px;
    color:black;
    margin-left: 4%;
    margin-right: 4%;
}
.feed h2{
  font-size: 15px;
  color:black;
    margin-left: 4%;
    margin-right: 4%;
}

.post{
  text-align: center;
}

.postStatus{
  padding-left: 10px;
  padding-right: 10px;
}

.btn{
}

#postInput {
  width: 750px;
  height: 100px;
}

body {
  background: 
    url(https://www.theawl.com/wp-content/uploads/2014/06/09GSd2tHvXG6EZZYu.jpg);
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
  flex-wrap: wrap;
}

