{% extends "lab_4/layout/base.html" %}

{% block content %}
<br>
<p style="text-align: center;"><img src="https://i.imgur.com/oTLx2Em.png" alt="Header" style="margin-left: -30px">
<img src="http://68.media.tumblr.com/cb8eb95948b67872d6176e708e8de495/tumblr_owlmyyDn1g1tnpywyo1_1280.gif" alt="Header" style="border-radius: 50%; width:150px; height:150px; margin-left: -50px"></p>
<section name="bio" style="overflow:auto">
    <center>
    <h2>Bio</h2>
    <h3>
        {{content}}
    </h3>
    </center>   
</section>
<br>

<section name="about_me">
    <center>
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
    </center>
</section>
<br>

<section name="form">
    <center>
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}" style="width: 550px">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </center>
</section>
<br>
{% endblock %}
