{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        color: white;
        
    }
</style>
<div class="center_screen">
    <p style="text-align: left"><img src="https://i.imgur.com/0hHUnfu.jpg" alt="Header" style="width:800px;height:379px;margin-top: -230px;margin-left: -150px; margin-bottom: 10px"></p>
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}