<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nixi's Biodata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<style>
	h3{
		color: white;
		font-family: sans-serif;
	}
    table{
        border: 1px solid black;
        background-color: white;
        padding: 5px 10px 5px 10px;
    }
    th{
    	color: #f53240;
    	padding: 5px 10px 5px 10px;
    	border: 1px solid black;
    }
    td{
    	padding: 5px 10px 5px 10px;
    	border: 1px solid black;

    }
    .subject{
        font-size: 18px;
        font-family: sans-serif;
        color: #f53240;
        background-color: white;
        padding: 5px 10px 5px 10px;
    }
    .value{
        font-size: 18px;
        font-family: sans-serif;
        color: #02c8a7;
        background-color: white;
        padding: 5px 10px 5px 10px;
    }
    .date{
    	background-color: white;
    }
    .activity{
    	background-color: white;
    }
    .button {
    	background-color: #f53240;
    	border:1px solid #931e26;
	}

</style>
<body style="background: url(https://i.imgur.com/mvGT6cE.png) no-repeat;background-color: #00ebdc; background-size: 100%;background-attachment:fixed; background-size: cover;">
    <div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">NavBar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/lab-2/"><img src="https://image.flaticon.com/icons/svg/25/25694.svg" alt="Home" style="width:20px;height:20px;"></a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/lab-2-addon/"><img src="https://image.flaticon.com/icons/svg/121/121693.svg" alt="About" style="width:20px;height:20px;"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lab-3/"><img src="https://image.flaticon.com/icons/svg/97/97841.svg" alt="Diary" style="width:20px;height:20px;"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'lab-4:index' %}"><img src="https://imageog.flaticon.com/icons/png/512/45/45696.png" alt="Portfolio" style="width:20px;height:20px;"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://instagram.com/rayennixi"><img src="https://image.flaticon.com/icons/svg/39/39772.svg" alt="Instagram lol" style="width:20px;height:20px;"></a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>
